.Inicio {
    background: rgb(218,10,46);
    background: linear-gradient(90deg, rgba(218,10,46,1) 0%, rgba(218,10,46,1) 35%, rgba(218,26,104,1) 100%);

}
.logo-container{
    display: flex;
}

.fraja-degradado{
    background: linear-gradient(to right #240636, #c31432);
    padding: 0;
    margin: 0;
}
.franja-blanca{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}

/*Centrar Iconos*/
.Centrar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 60px; 
    z-index: 1000; /
}

/*Centrar verticalmente los iconos*/
ul{
    position: relative;
    display: flex;
    gap: 25px;
}

/*Centrar verticalmente los iconos*/
ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    top:0;
    transition: 0.5s;
}

/*Movimiento de los botones*/
ul li:hover{
width: 180px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

/*Movimiento de los botones*/
ul li::before{
    content: ' ';
    position:relative;
    inset:0;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5;
}

/* Color de fondo del botón */
.boton {
    background-color: #c218a000; 
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: background 0.3s, transform 0.2s;
}

/* Iconos dentro de los botones */
.boton img {
    width: 30px;
    height: 30px;
}

/* Efecto al pasar el mouse */
.boton:hover {
    background-color: #ec066600;
    transform: scale(1.1);
}

/* Efecto al presionar */
.boton:active {
    transform: scale(0.9);
}

/* Ocultar texto y mostrarlo al pasar el mouse */
.boton span {
    display: none;
}

/* Movimiento icono, texto y mostrarlo al pasar el mouse */
.boton:hover span {
    display: inline;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

form h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}


/* Contenedor del formulario */
form {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5), inset 0 0 8px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    width: 450px;
    right: 50%;
    margin-top: 4%;
    margin-left: 35%;
}

/* Título */
h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

/* Etiquetas */
label {
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

/* Inputs y select */
input, select {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    font-size: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
}

input::placeholder {
    color: #aaa;
}

input:focus, select:focus {
    outline: none;
    background-color: #333;
}

/* Botón */
button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: #111;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease, transform 0.2s;
}

button[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}
